iframe {
  margin: 10px 0;
}

.reps iflame {
  margin: 0 10px;
}

.iframe-container{
  display: flex;
  flex-direction: column; /* 縦並び */
}

.reps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
